<!DOCTYPE html>
<html>
<head>
<title>Generate DnD</title>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif; font-size: 0.875em;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif; font-size: 0.875em;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em;
}
</style>
</head>
<body>

<p class = "p3">You have rolled a : <br>{{char}} <br>
Reroll: <a href="/dndgen">New One!</a><br>
<a href="/">Back</a></p>

<br><p class = "p3">Questions?:admin@generationdnd.tk</p>