<!DOCTYPE html>
<html>
<head>
<title>Generate DnD</title>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif; font-size: 0.875em;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif; font-size: 0.875em;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em;
}
.p4 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 1.25em; text-align: center;
}
.p5 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.8em; text-align: center;
}
</style>
</head>
<body>

<p class = "p4">Welcome!</br>To the worlds greatest set of random apps</p>
<p class = "p5">A Mostly Matt Production. (Assisted by Will and Emmett) </p>

<p class = "p3">Ever wondered how lucky your lucky numbers really are? Or what they even are? Or maybe you just want the lottery numbers for tommorow? CLick below to see your fortune firsthand!
<p class = "p3"><a href="https://generationdnd.tk/luckynumber">Lucky Numbers!</a></p>

<br><p class = "p3">Have you ever wanted to make a random D&D character? Too lazy to actually make a D&D character with story or lore? A DM preparing backup characters if someone dies? Click below if you answer yes to any of these!<br /><a href="https://generationdnd.tk/dndgen">Roll a random D&D character!</a></p>

<br><p class = "p3">Are you too lazy to actually think of an encounter? Even though you have a monster manual right next to you? Than this is the dream program for you!
<br><a href="https://generationdnd.tk/randomencounter">Roll a random D&D encounter!</a></p>

<br><p class = "p3">You're back?! And you want some random traps? Alright, fine, here you go... Make some trashy dungeon, but give us credit! We always make very high quality content.
<br><a href="https://generationdnd.tk/randomtraps">Get some (high-ish quality) random traps!</a></p>
  

<br><p class = "p3">Want some extremely low quality random quests to spice up your dungeon crawl? Look no further than our very own D&D Quest Generator!
<p class = "p3"><a href="https://generationdnd.tk/randomquest">Random D&D Quests!</a></p>

  
<br><p class = "p3">Are you so lazy that you need somebody else to make a campaign for you, as well as ALL the encounters!? Well, here you go. (No promises on the quality)
  <br><a href="https://generationdnd.tk/randomcampaign">Roll a random D&D campaign!</a></p>

<br><p class = "p3">Questions? admin@generationdnd.tk</p>
