<!DOCTYPE html>
<html>
<head>
<title>Generate DnD</title>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif; font-size: 0.875em;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif; font-size: 0.875em;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em;
}
</style>
</head>
<body>
<p class = "p3"> This is your quest: <br> {{quest}}</p>

<p class = "p3"><a href="/randomquest">Roll another</a>
<br><br>
<a href="/">Back</a></p>
</body>

<br><p class = "p3">Questions?:admin@generationdnd.tk</p>