<!DOCTYPE html>
<html>
<head>
<title>Generate DnD</title>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif; font-size: 0.875em;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif; font-size: 0.875em;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em;
}
</style>
</head>
<body>

<p class = "p3">Here's a random encounter: <br>{{encounter}}<br><br><br>
This is your easy encounter: <br>{{easy}}<br><br><br>
This is your medium encounter: <br>{{med}}<br><br><br>
This is your hard encounter: <br>{{hard}}<br><br><br>
This is a encounter that isn't combat: <br>{{other}}<br><br><br></p>
<p class = "p3"><a href="/randomencounter">Roll another</a><br>
<a href="/">Back</a></p>

<br><p class = "p3">Questions?:admin@generationdnd.tk</p>