<!DOCTYPE html>
<html>
<head>
<title>Generate DnD</title>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif; font-size: 0.875em;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif; font-size: 0.875em;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em;
}
.p4 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 1.25em; text-align: center;
}
.p5 {
  font-family: "Lucida Console", "Courier New", monospace; font-size: 0.8em; text-align: center;
}
</style>
</head>
<body>

<p class = "p3">This is your custom trap:<br>
  {{trap}}

  
<p class = "p3"><a href="https://generationdnd.tk/randomtraps">Roll another</a><br>
<a href="https://generationdnd.tk/">Back</a></p>
  
<br><p class = "p3">Questions?:admin@generationdnd.tk</p>
</body>